<fieldset>
  <legend>
    {{ legend }}
    {% if helpUrl %}
      <a href="{{ helpUrl }}" target="_blank">
        <img
          style="width: 9px;"
          src="{{ serverRoot | default('.') }}/images/qmark.png"
          alt="help"
        >
      </a>
    {% endif %}
  </legend>
  {% if list is iterable and list | length > 0 %}
    <ul>
      {% for item in list %}
        <li>{{ item | raw }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</fieldset>